body {
    background-color: #DDDDDD;
}
h1 {
    background-color: gray;
    font-size: 23px;
    font-family: "Arial Black";
    letter-spacing: 2px;
    text-align: center;
    color: black;
}
.button-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 400px; /* コンテナの幅を制限 */
}
.button {
    padding: 1rem 2rem;
    border: 1px solid #000000;
    color: #000000;
    text-decoration: none;
    margin: 10px;
    width: 40%; /* ボタンの幅を調整して2列に */
}
.right{
margin-left:auto;
margin-bottom: auto;
}