body {
    background-color: #DDDDDD;
  }

  h1 {
    background-color: gray;
    font-size: 23px;
    font-family: "Arial Black";
    letter-spacing: 2px;
    text-align: center;
  }

        .box {
          background-color: #FFF;
          box-shadow: 0 5px 5px #999;
          height: 250px;
          margin: 30px auto;
          overflow: hidden;
          padding: 15px;
          width: 800px;
        }

        .box a:link,
        .box a:visited {
          color: #00C;
        }

        .box a:hover {
          color: #33F;
        }

        .box > h2 {
          font-size: 16px;
          margin: 0;
        }

        .box > h2 > .date {
          color: #666;
          font-size: 13px;
          font-weight: normal;
        }

        .box > .box_img {
          float: left;
          margin-right: 10px;
          width: 150px;
        }

        .box > .box_sentence > p {
          color: #444;
          font-size: 14px;
        }

  .more{
    border: none;
    border-bottom: solid 1px #000;
    background-color: transparent;
    text-align: center;
    margin-right: 100px;
    margin-left: 10px;
  }
  .input{
    text-align: center;
    background-color: #999;
    margin-right: 95px;
    margin-left: 95px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    max-width: 100%; /* 要素の最大幅を親要素に対する100%に設定 */
    width: 802px; /* 要素の幅を固定値に設定 */
    margin: 0 auto; /* 要素を中央に配置するためのマージン設定 */
  }
  .read_more{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px; 
    margin-right: 95px;
    margin-left: 95px;
    max-width: 100%; /* 要素の最大幅を親要素に対する100%に設定 */
    width: 802px; /* 要素の幅を固定値に設定 */
    margin: 0 auto; /* 要素を中央に配置するためのマージン設定 */
    background-color: #bbb;
  }
  .read_more2{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px; 
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-right: 95px;
    margin-left: 95px;
    max-width: 100%; /* 要素の最大幅を親要素に対する100%に設定 */
    width: 802px; /* 要素の幅を固定値に設定 */
    margin: 0 auto; /* 要素を中央に配置するためのマージン設定 */
    background-color: #bbb;
  }
  