body {
    background-color: #DDDDDD;
  }

  h1 {
    background-color: gray;
    font-size: 23px;
    font-family: "Arial Black";
    letter-spacing: 2px;
    text-align: center;
  }

  .box {
    background-color: #FFF;
    box-shadow: 0 5px 5px #999;
    height: 210px;
    margin: 30px auto;
    overflow: hidden;
    padding : 15px;
    width: 400px;
    display: none;
  }

  .box a:link,
  .box a:visited {
    color: #00C;
  }

  .box a:hover {
    color: #33F;
  }

  .box > h2 {
    font-size: 16px;
    margin: 0;
  }

  .box > h2 > .date {
    color: #666;
    font-size: 13px;
    font-weight: normal;
  }

  .box > .box_img {
    float: left;
    margin-right: 10px;
    width: 150px;
  }

  .box > .box_sentence > p {
    color: #444;
    font-size: 14px;
  }

  .more{
    border: none;
    border-bottom: solid 1px #000;
    background-color: transparent;
    text-align: center;
  }
  .input{
    text-align: center;
    background-color: #999;
    margin-right: 350px;
    margin-left: 350px;
  }